<!DOCTYPE html>
<html>

<head>
<!---------------------------- basic ---------------------------->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
<!------------------------- mobile metas ------------------------>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">

<!----------------------------- JQuery ------------------------>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!---------------------- Bootsrap -------------------------------->

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<!------------------------------ css --------------------------->

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

</head>
<body>
<input type="checkbox" id="check">

<header>
    <label for="check">
        <i class="fas fa-bars" id="sidebar_btn"></i>
    </label>
    <div class="left-area">
        <h3>Admin <span>Panel</span></h3>
    </div>
    <div class="right_area">
        <a routerLink="/sign-in" class="logout_btn">Logout</a>
    </div>
</header>
<div class="sidebar">
        <!-- <img src="images/user-image.png" class="profile_image" alt=""> -->
        <h4>My Admin</h4>
        <a routerLink="/create" routerLinkActive="active">
        <i class="fas fa-plus-square"></i><span>Create user</span>
        </a>
        <a routerLink="/list" routerLinkActive="create">
            <i class="fas fa-table"></i><span>List user</span>
        </a>
</div>