<app-header-user></app-header-user>
    <body class="adminPanel">
    <input type="checkbox" id="check">

<header>
    <label for="check">
        <i class="fas fa-bars" id="sidebar_btn"></i>
    </label>
    <div class="left-area">
        <h3>Admin <span>Panel</span></h3>
    </div>
    <div class="right_area">
        <a routerLink="/sign-in" class="logout_btn">Logout</a>
    </div>
</header>
<div class="sidebar">
        <!-- <img src="images/user-image.png" class="profile_image" alt=""> -->
        <h4>My Admin</h4>
        <a routerLink = "/create" routerLinkActive="active">
        <i class="fas fa-plus-square"></i><span>Create user</span>
        </a>
        <a routerLink = "/list" routerLinkActive="create">
            <i class="fas fa-table"></i><span>List user</span>
        </a>
</div>

<div class="content">
    <div class="content-container-1">
        <h1 style="font-size:x-large;text-align: center;">Create User</h1>
        <div class="content-container-oneView">
            <div class="row-oneView">
                <div class="row-oneView-left">
                    <img class="avatar" [src]="itemImageUrl">
                    <div class="middle">
                        <div class="text">{{userCreate.first_name}}</div>
                      </div>
                </div>
                <div class="row-oneView-right">
                    <p>ID:{{userCreate.id}}</p>
                    <p>Email: {{userCreate.email}}</p>
                    <p>FirstName: {{userCreate.first_name}}</p>
                    <p>LastName: {{userCreate.last_name}}</p> 
                </div>
            </div>
        </div>
    </div>
</div>