<!DOCTYPE html>
<html>
	<head>
	</head>
	<body>
		<div class="wrapper">
			<div class="inner">
				<img src="assets/images/image-1.png" alt="" class="image-1">
				<form class="form-container" #usersForm= "ngForm" (ngSubmit)= "getUserFormData(usersForm.value)">
					<h3>New Account?</h3>
					<div class="form-group">
						<div *ngIf="name.errors && (name.invalid && name.touched)">
							<small *ngIf="name.errors['required']">Username is required</small>
							<small *ngIf="name.errors['minlength']">Username's minimum length is 3</small>
						</div>
						<div class="form-holder">
							<span class="lnr lnr-user"></span>
							<input type="text" minlength="3" required class="form-control" #name="ngModel" 
							[class.is-invalid]="name.touched && name.invalid"  ngModel name="name" 
							placeholder="Username">
						</div>
					</div>
					<div class="form-group">
						<div *ngIf="job.errors && (job.invalid && job.touched)">
							<small *ngIf="job.errors['required']">Job is required</small>
							<small *ngIf="job.errors['minlength']">Job's minimum length is 3</small>
						</div>
						<div class="form-holder">
							<span class="lnr lnr-briefcase"></span>
							<input type="text" minlength="3" required class="form-control" #job="ngModel" 
							[class.is-invalid]="job.touched && job.invalid" ngModel name="job" 
							placeholder="Job">
						</div>
					</div>
					<button type="submit">
						<span>Register</span>
					</button>
				</form>
				<img src="assets/images/image-2.png" alt="" class="image-2">
			</div>
		</div>	
		<script src="/src/assets/js/jquery-3.3.1.min.js"></script>
		<script src="/src/assets/js/main.js"></script>
	</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>