<app-header-user></app-header-user>
<body class="adminPanel">
    <input type="checkbox" id="check">

<header>
    <label for="check">
        <i class="fas fa-bars" id="sidebar_btn"></i>
    </label>
    <div class="left-area">
        <h3>Admin <span>Panel</span></h3>
    </div>
    <div class="right_area">
        <a (click)="logOut()" class="logout_btn">Logout</a>
    </div>
</header>
<div class="sidebar">
        <!-- <img src="images/user-image.png" class="profile_image" alt=""> -->
        <h4>My Admin</h4>
        <!-- <a routerLink = "/create" routerLinkActive="active">
        <i class="fas fa-plus-square"></i><span>Create user</span>
        </a> -->
        <a routerLink = "/list" routerLinkActive="create">
            <i class="fas fa-table"></i><span>List user</span>
        </a>
</div>
<div class="content">
    <div class="content-container-2">
        <h1 style="font-size:x-large;text-align: center;">List of User</h1>
        <form #usersForm = "ngForm" (keyup)="showTableContent($event)">
          <input ngModel name="first_name" #first_name = "ngModel" type="text" id="myInput"  
          placeholder="Search for email" ngModel class="form-control" title="Type in a name">
        </form>
        <div class="content-container-oneView">
          <div class="content-container-oneView-left">
            <table>
              <thead>
              <tr>
                <th>Id</th>
                <th>Email</th>
                <th>First name</th>
                <th>Last name</th>
                <th>Action</th>
                </tr>
              <tr *ngFor = "let user of userList">
                <td>{{  user.id  }}</td>
                <td>{{  user.email  }}</td>
                <td>{{  user.first_name  }}</td>
                <td>{{  user.last_name  }}</td>
                <td style="text-align: center;">
                  <div class="btn-group">
                    <a routerLink="/create/{{ user.id }}" routerLinkActive="active" 
                    class="btn btn-info btn-sm">View</a>
                    <a routerLink="/update/{{ user.id }}" routerLinkActive="active" 
                    class="btn btn-success btn-sm">Update</a>
                    <a (click)= "userDelete(user.id)" class="btn btn-danger btn-sm">Delete</a>
                  </div>
                </td>
              </tr>
            </thead>
            </table>
          </div>
          <div class="content-container-oneView-right">
            <!-- <nav aria-label="Page navigation example">
              <ul id = "pagination" *ngFor="let page of pagesInUrl">
                <li class="page-item" (click)="getData(page)"><a></a></li>
              </ul>
            </nav> -->
            <nav aria-label="Page navigation example">
              <ul class="pagination justify-content-center" *ngFor="let page of pagesInUrl">
                <li class="page-item" (click)="getData(page)"><a class="page-link">{{ page }}</a></li>       
              </ul>
            </nav> 
        </div>
    </div>
   
</div>