<!DOCTYPE html>
<html>
	<head>
	</head>
	<body>
		<div class="wrapper">
			<div class="inner">
				<img src="assets/images/image-1.png" alt="" class="image-1">
				<form #usersForm= "ngForm" (ngSubmit)= "getUserFormData(usersForm.value)">
					<h3>Sign In</h3>
					<div class="form-holder">
						<span class="lnr lnr-envelope"></span>
						<input type="text" required #email="ngModel" ngModel name="email" class="form-control" placeholder="Mail">
					</div>
					
					<div *ngIf="email.invalid && email.dirty">
						<small>Mail is required</small>
					</div>
					<!-- {{	name.valid	}} -->
					<br>
					<div class="form-holder">
						<span class="lnr lnr-lock"></span>
						<input required #password="ngModel" type="password" ngModel name="password" class="form-control" placeholder="Password">
					</div>
					<div *ngIf="password.invalid && password.dirty">
						<small>Password is required</small>
					</div><br>
          			<a routerLink="/sign-up" routerLinkActive="active">SIGN UP</a>
					<button [disabled]="email.invalid && password.invalid">
						<span>Sign-in</span>
					</button>
					<!-- <ul *ngFor = "let u of userLogIn">
						<li>{{u.email}}</li>
					</ul> -->
				</form>
				<img src="assets/images/image-2.png" class="image-2">
			</div>
		</div>
		<div id="snackbar" [id]="snackbar">{{  message	}}</div>
		
		<script src="/src/assets/js/jquery-3.3.1.min.js"></script>
		<script src="/src/assets/js/main.js"></script>
	</body>
	<!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>