@font-face {
    font-family: "Muli-Regular";
    src: local("Muli-Regular"), url("/src/assets/fonts/muli/Muli-Regular.ttf"), format("truetype"); 
}
  @font-face {
    font-family: "Muli-SemiBold";
    src: local("Muli-Regular"), url("/src/assets/fonts/muli/Muli-SemiBold.ttf"), format("truetype"); }
  * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; 
}

body {
    font-family: "Muli-Regular";
    font-size: 14px;
    margin: 0;
    color: #999; }
  
  input, textarea, select, button {
    font-family: "Muli-Regular", Arial, Helvetica, sans-serif; }
  
  p, h1, h2, h3, h4, h5, h6, ul {
    margin: 0; }
  
  img {
    max-width: 100%; }
  
  ul {
    padding-left: 0;
    margin-bottom: 0; }
  
  a {
    text-decoration: none; }
  
  :focus {
    outline: none; }
  
  .wrapper {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #accffe; }
  
  .inner {
    position: relative;
    width: 435px; }
  
  .image-1 {
    position: absolute;
    bottom: -12px;
    left: -191px;
    z-index: 99;
    }
  
  .image-2 {
    position: absolute;
    bottom: 0;
    right: -129px; }
  
  .form-container {
    width: 100%;
    position: relative;
    z-index: 9;
    padding: 77px 61px 66px;
    background: #fff;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    -ms-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    -o-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2); }
  
  h3 {
    text-transform: uppercase;
    font-size: 25px;
    font-family: "Muli-SemiBold";
    color: #333;
    letter-spacing: 3px;
    text-align: center;
    margin-bottom: 33px; }
  
  .form-holder {
    position: relative;
    margin-bottom: 21px; }
  .form-holder span {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    font-size: 15px;
    color: #333; }
    .form-holder span.lnr-lock {
      left: 2px; }
  
  .form-control {
    border: none;
    border-bottom: 1px solid #e6e6e6;
    display: block;
    width: 100%;
    height: 38px;
    background: none;
    padding: 3px 42px 0px;
    color: #666;
    font-family: "Muli-SemiBold";
    font-size: 16px; }
    .form-control::-webkit-input-placeholder {
      font-size: 14px;
      font-family: "Muli-Regular";
      color: #999;
      transform: translateY(1px); }
    .form-control::-moz-placeholder {
      font-size: 14px;
      font-family: "Muli-Regular";
      color: #999;
      transform: translateY(1px); }
    .form-control:-ms-input-placeholder {
      font-size: 14px;
      font-family: "Muli-Regular";
      color: #999;
      transform: translateY(1px); }
    .form-control:-moz-placeholder {
      font-size: 14px;
      font-family: "Muli-Regular";
      color: #999;
      transform: translateY(1px); }
    .form-control:focus {
      border-bottom: 1px solid #accffe; }
  
  button {
    border: none;
    width: 100%;
    height: 49px;
    margin-top: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    background: #99ccff;
    color: #fff;
    text-transform: uppercase;
    font-family: "Muli-SemiBold";
    font-size: 15px;
    letter-spacing: 2px;
    transition: all 0.5s;
    position: relative;
    overflow: hidden; }
    button span {
      position: relative;
      z-index: 2; }
    button:before, button:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      background-color: rgba(52, 152, 253, 0.25);
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s;
      -webkit-transform: translate(-100%, 0);
      transform: translate(-100%, 0);
      -webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
      transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1); }
    button:after {
      -webkit-transition-delay: 0.2s;
      transition-delay: 0.2s; }
    button:hover:before, button:hover:after {
      -webkit-transform: translate(0, 0);
      transform: translate(0, 0); }
  
  @media (max-width: 991px) {
    .inner {
      width: 400px;
      left: 4%; } }
  @media (max-width: 767px) {
    .inner {
      width: 100%;
      left: 0; }
  
    .image-1, .image-2 {
      display: none; }

    .form-container {
      padding: 35px;
      box-shadow: none;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      -ms-box-shadow: none;
      -o-box-shadow: none; }
  
    .wrapper {
      background: none; } }


    /* Dashboard */ 

    
    /* ------------------------------ admin-login.php ------------------------------ */
    
    .myadmin-parallelogram {
        position:absolute;
        left:17.5%;
        bottom: 8%;
        width: 65%;
        height: 10%;
        transform: skew(20deg);
        border: none;
        background-color: #FFF;
        box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
    }


    .adminPanel {
        margin: 0;
        padding: 0;
        font-family: 'Roboto', sans-serif;
    }
    header {
        position: fixed;
        background: #000;
        padding: 20px;
        width: 100%;
        height: 70px;
    }
    .left-area h3 {
        color: #FFF;
        margin: 0;
        text-transform: uppercase;
        font-size: 22px;
        font-weight: 900;
        padding-left: 25px;
    }
    .left-area span {
        color:	#E44D26;
    }
    .logout_btn {
        padding: 5px;
        background:	#FF7722;
        text-decoration: none;
        float: right;
        cursor: pointer;
        margin-top: -40px;
        margin-right: 40px;
        border-radius: 2px;
        font-size: 15px;
        font-weight: 600;
        color: #FFF;
        transition: 0.5s;
        transition-property: background;
    }
    .logout_btn:hover {
        background: #2196F3;
        text-decoration: none;
    }

    .sidebar {
        background: #accffe;
        margin-top: 70px;
        padding-top: 30px;
        position: fixed;
        left: 0;
        width: 250px;
        height: 100%;
        transition: 0.5s;
        transition-property: left;
    }
    .sidebar .profile_image {
        width: 100px;
        height: 100px;
        border-radius: 100px;
        margin-bottom: 10px;
    }
    .sidebar h4 {
        color: #000;
        margin-top: 0;
        text-align: center;
        margin-bottom: 20px;
    }
    .sidebar a {
        color: #000;
        display: block;
        width: 100%;
        line-height: 60px;
        text-decoration: none;
        padding-left: 35px;
        box-sizing: border-box;
        transition-property: background;
    }
    .sidebar a:hover {
        background: #E44D26;
    }
    .sidebar i {
        padding: 5px;   
    }
    label #sidebar_btn {
        z-index: 1;
        color: #FFF;
        position: fixed;
        cursor: pointer;
        left: 220px;
        font-size: 20px;
        margin: 3px 0;
        transition-property: color;
    }
    label #sidebar_btn:hover {
        color: #accffe;
    
    }
    #check:checked ~ .sidebar {
        left: -190px;
    }
    #check:checked ~ .sidebar a span {
        display: none;
    }
    #check:checked ~ .sidebar a {
        font-size: 20px;
        margin-left: 170px;
        width: 80px;
    }
    .content {
        margin-left: 250px;
        padding-top: 17%;
        background: #FFF;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        width: 100%;
        height: 100vh;
        transition: 0.5s;
        margin-top: 70px;
        padding-top: 30px;
        position: fixed;
        /* transition-property: right; */
    }
    #check:checked ~ .content {
        margin-left: 60px;
    }
    #check {
        display: none;
    }
    .content-container-1 {
      border: none;
      width: 50%;
      height: auto;
      background: none;
      position: relative;
      top: 5%;
      left: 20%;
      justify-content: center;
    }
    #check:checked ~ .content-container-1 {
        width: 80%;
    }
    .row-oneView-left {
      position: relative;
      width: 50%;
    }
    .avatar {
      width: 455px;
      height: 255px;
      object-fit: cover;
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
      opacity: 1;
      display: block;
      width: 100%;
      height: auto;
      transition: .5s ease;
      backface-visibility: hidden;
    }
    .middle {
      transition: .5s ease;
      opacity: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%)
    }
    .row-oneView-left:hover .avatar {
      opacity: 0.3;
    }
    
    .row-oneView-left:hover .middle {
      opacity: 1;
    }
    .text {
      color: #FFF;
      font-size: 16px;
      padding: 16px 32px;
    }
    .row-oneView {
      margin: 10px;
      display: flex;
      justify-content: space-between;
      color: #000;
    }
    .row-oneView-left {
      flex-basis: 51%;
    }
    .row-oneView-right {
      flex-basis: 61%;
      padding: 20px;
      background: #6b5959;
      color: #FFF;
    }

    .content-container-2 {
      padding-left: 7%;
      padding-right: 7%;
      background: none;
      position: relative;
      justify-content: center;
      border: none;
      width: 85%;
      height: auto;
      top: 5%;
      left: 0%;
    }
    .content-container-oneView {
      display: flex;
      justify-content: space-between;
    }
    #myInput {
      width: 92.5%;
      font-size: 16px;
      padding: 12px 20px 12px 40px;
      border: 1px solid #ddd;
      margin-bottom: 12px;
    }
    .content-container-oneView-left {
      flex-basis: 100%;
    }
    .content-container-oneView-right {
      flex-basis: 1%;
      padding: 20px;
      margin: auto;
    }

    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
      color: #000;
    }
    
    td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }
    
    tr:nth-child(even) {
      background-color: #daa35b;
    }

    #pagination {
      position: relative;
      top: 50%;
      left: 90%;
      right: 30px;
      list-style: none;
    }
    #pagination li {
      position: relative;
      margin: 20px 0;
      background: #E44D26;
      border-radius: 100%;
      width: 10px;
      height: 10px;
      transition: all .2s ease;
    }
    #pagination li:hover {
      transform: scale(1.5);
    } 


    /* Snack bar */
    /* based on angular-toastr css https://github.com/Foxandxss/angular-toastr/blob/cb508fe6801d6b288d3afc525bb40fee1b101650/dist/angular-toastr.css */

/* position */
.toast-center-center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.toast-top-center {
  top: 0;
  right: 0;
  width: 100%;
}
.toast-bottom-center {
  bottom: 0;
  right: 0;
  width: 100%;
}
.toast-top-full-width {
  top: 0;
  right: 0;
  width: 100%;
}
.toast-bottom-full-width {
  bottom: 0;
  right: 0;
  width: 100%;
}
.toast-top-left {
  top: 12px;
  left: 12px;
}
.toast-top-right {
  top: 12px;
  right: 12px;
}
.toast-bottom-right {
  right: 12px;
  bottom: 12px;
}
.toast-bottom-left {
  bottom: 12px;
  left: 12px;
}

/* toast styles */
.toast-title {
  font-weight: bold;
}
.toast-message {
  word-wrap: break-word;
}
.toast-message a,
.toast-message label {
  color: #FFFFFF;
}
.toast-message a:hover {
  color: #CCCCCC;
  text-decoration: none;
}
.toast-close-button {
  position: relative;
  right: -0.3em;
  top: -0.3em;
  float: right;
  font-size: 20px;
  font-weight: bold;
  color: #FFFFFF;
  text-shadow: 0 1px 0 #ffffff;
  /* opacity: 0.8; */
}
.toast-close-button:hover,
.toast-close-button:focus {
  color: #000000;
  text-decoration: none;
  cursor: pointer;
  opacity: 0.4;
}
/*Additional properties for button version
 iOS requires the button element instead of an anchor tag.
 If you want the anchor version, it requires `href="#"`.*/
button.toast-close-button {
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
}
.toast-container {
  pointer-events: none;
  position: fixed;
  z-index: 999999;
}
.toast-container * {
  box-sizing: border-box;
}
.toast-container .ngx-toastr {
  position: relative;
  overflow: hidden;
  margin: 0 0 6px;
  padding: 15px 15px 15px 50px;
  width: 300px;
  border-radius: 3px 3px 3px 3px;
  background-position: 15px center;
  background-repeat: no-repeat;
  background-size: 24px;
  box-shadow: 0 0 12px #999999;
  color: #FFFFFF;
}
.toast-container .ngx-toastr:hover {
  box-shadow: 0 0 12px #000000;
  opacity: 1;
  cursor: pointer;
}
/* https://github.com/FortAwesome/Font-Awesome-Pro/blob/master/advanced-options/raw-svg/regular/info-circle.svg */
.toast-info {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHZpZXdCb3g9JzAgMCA1MTIgNTEyJyB3aWR0aD0nNTEyJyBoZWlnaHQ9JzUxMic+PHBhdGggZmlsbD0ncmdiKDI1NSwyNTUsMjU1KScgZD0nTTI1NiA4QzExOS4wNDMgOCA4IDExOS4wODMgOCAyNTZjMCAxMzYuOTk3IDExMS4wNDMgMjQ4IDI0OCAyNDhzMjQ4LTExMS4wMDMgMjQ4LTI0OEM1MDQgMTE5LjA4MyAzOTIuOTU3IDggMjU2IDh6bTAgMTEwYzIzLjE5NiAwIDQyIDE4LjgwNCA0MiA0MnMtMTguODA0IDQyLTQyIDQyLTQyLTE4LjgwNC00Mi00MiAxOC44MDQtNDIgNDItNDJ6bTU2IDI1NGMwIDYuNjI3LTUuMzczIDEyLTEyIDEyaC04OGMtNi42MjcgMC0xMi01LjM3My0xMi0xMnYtMjRjMC02LjYyNyA1LjM3My0xMiAxMi0xMmgxMnYtNjRoLTEyYy02LjYyNyAwLTEyLTUuMzczLTEyLTEydi0yNGMwLTYuNjI3IDUuMzczLTEyIDEyLTEyaDY0YzYuNjI3IDAgMTIgNS4zNzMgMTIgMTJ2MTAwaDEyYzYuNjI3IDAgMTIgNS4zNzMgMTIgMTJ2MjR6Jy8+PC9zdmc+");
}
/* https://github.com/FortAwesome/Font-Awesome-Pro/blob/master/advanced-options/raw-svg/regular/times-circle.svg */
.toast-error {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHZpZXdCb3g9JzAgMCA1MTIgNTEyJyB3aWR0aD0nNTEyJyBoZWlnaHQ9JzUxMic+PHBhdGggZmlsbD0ncmdiKDI1NSwyNTUsMjU1KScgZD0nTTI1NiA4QzExOSA4IDggMTE5IDggMjU2czExMSAyNDggMjQ4IDI0OCAyNDgtMTExIDI0OC0yNDhTMzkzIDggMjU2IDh6bTEyMS42IDMxMy4xYzQuNyA0LjcgNC43IDEyLjMgMCAxN0wzMzggMzc3LjZjLTQuNyA0LjctMTIuMyA0LjctMTcgMEwyNTYgMzEybC02NS4xIDY1LjZjLTQuNyA0LjctMTIuMyA0LjctMTcgMEwxMzQuNCAzMzhjLTQuNy00LjctNC43LTEyLjMgMC0xN2w2NS42LTY1LTY1LjYtNjUuMWMtNC43LTQuNy00LjctMTIuMyAwLTE3bDM5LjYtMzkuNmM0LjctNC43IDEyLjMtNC43IDE3IDBsNjUgNjUuNyA2NS4xLTY1LjZjNC43LTQuNyAxMi4zLTQuNyAxNyAwbDM5LjYgMzkuNmM0LjcgNC43IDQuNyAxMi4zIDAgMTdMMzEyIDI1Nmw2NS42IDY1LjF6Jy8+PC9zdmc+");
}
/* https://github.com/FortAwesome/Font-Awesome-Pro/blob/master/advanced-options/raw-svg/regular/check.svg */
.toast-success {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHZpZXdCb3g9JzAgMCA1MTIgNTEyJyB3aWR0aD0nNTEyJyBoZWlnaHQ9JzUxMic+PHBhdGggZmlsbD0ncmdiKDI1NSwyNTUsMjU1KScgZD0nTTE3My44OTggNDM5LjQwNGwtMTY2LjQtMTY2LjRjLTkuOTk3LTkuOTk3LTkuOTk3LTI2LjIwNiAwLTM2LjIwNGwzNi4yMDMtMzYuMjA0YzkuOTk3LTkuOTk4IDI2LjIwNy05Ljk5OCAzNi4yMDQgMEwxOTIgMzEyLjY5IDQzMi4wOTUgNzIuNTk2YzkuOTk3LTkuOTk3IDI2LjIwNy05Ljk5NyAzNi4yMDQgMGwzNi4yMDMgMzYuMjA0YzkuOTk3IDkuOTk3IDkuOTk3IDI2LjIwNiAwIDM2LjIwNGwtMjk0LjQgMjk0LjQwMWMtOS45OTggOS45OTctMjYuMjA3IDkuOTk3LTM2LjIwNC0uMDAxeicvPjwvc3ZnPg==");
}
/* https://github.com/FortAwesome/Font-Awesome-Pro/blob/master/advanced-options/raw-svg/regular/exclamation-triangle.svg */
.toast-warning {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHZpZXdCb3g9JzAgMCA1NzYgNTEyJyB3aWR0aD0nNTc2JyBoZWlnaHQ9JzUxMic+PHBhdGggZmlsbD0ncmdiKDI1NSwyNTUsMjU1KScgZD0nTTU2OS41MTcgNDQwLjAxM0M1ODcuOTc1IDQ3Mi4wMDcgNTY0LjgwNiA1MTIgNTI3Ljk0IDUxMkg0OC4wNTRjLTM2LjkzNyAwLTU5Ljk5OS00MC4wNTUtNDEuNTc3LTcxLjk4N0wyNDYuNDIzIDIzLjk4NWMxOC40NjctMzIuMDA5IDY0LjcyLTMxLjk1MSA4My4xNTQgMGwyMzkuOTQgNDE2LjAyOHpNMjg4IDM1NGMtMjUuNDA1IDAtNDYgMjAuNTk1LTQ2IDQ2czIwLjU5NSA0NiA0NiA0NiA0Ni0yMC41OTUgNDYtNDYtMjAuNTk1LTQ2LTQ2LTQ2em0tNDMuNjczLTE2NS4zNDZsNy40MTggMTM2Yy4zNDcgNi4zNjQgNS42MDkgMTEuMzQ2IDExLjk4MiAxMS4zNDZoNDguNTQ2YzYuMzczIDAgMTEuNjM1LTQuOTgyIDExLjk4Mi0xMS4zNDZsNy40MTgtMTM2Yy4zNzUtNi44NzQtNS4wOTgtMTIuNjU0LTExLjk4Mi0xMi42NTRoLTYzLjM4M2MtNi44ODQgMC0xMi4zNTYgNS43OC0xMS45ODEgMTIuNjU0eicvPjwvc3ZnPg==");
}
.toast-container.toast-top-center .ngx-toastr,
.toast-container.toast-bottom-center .ngx-toastr {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}
.toast-container.toast-top-full-width .ngx-toastr,
.toast-container.toast-bottom-full-width .ngx-toastr {
  width: 96%;
  margin-left: auto;
  margin-right: auto;
}
.ngx-toastr {
  background-color: #030303;
  pointer-events: auto;
}
.toast-success {
  background-color: #51A351;
}
.toast-error {
  background-color: #BD362F;
}
.toast-info {
  background-color: #2F96B4;
}
.toast-warning {
  background-color: #F89406;
}
.toast-progress {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 4px;
  background-color: #000000;
  opacity: 0.4;
}
/* Responsive Design */
@media all and (max-width: 240px) {
  .toast-container .ngx-toastr.div {
    padding: 8px 8px 8px 50px;
    width: 11em;
  }
  .toast-container .toast-close-button {
    right: -0.2em;
    top: -0.2em;
  }
}
@media all and (min-width: 241px) and (max-width: 480px) {
  .toast-container .ngx-toastr.div {
    padding: 8px 8px 8px 50px;
    width: 18em;
  }
  .toast-container .toast-close-button {
    right: -0.2em;
    top: -0.2em;
  }
}
@media all and (min-width: 481px) and (max-width: 768px) {
  .toast-container .ngx-toastr.div {
    padding: 15px 15px 15px 50px;
    width: 25em;
  }
}
