@font-face {
    font-family: "Muli-Regular";
    src: local("Muli-Regular"), url("/src/assets/fonts/muli/Muli-Regular.ttf"), format("truetype"); 
}
  @font-face {
    font-family: "Muli-SemiBold";
    src: local("Muli-Regular"), url("/src/assets/fonts/muli/Muli-SemiBold.ttf"), format("truetype"); }
  * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; 
}

body {
    font-family: "Muli-Regular";
    font-size: 14px;
    margin: 0;
    color: #999; }
  
  input, textarea, select, button {
    font-family: "Muli-Regular", Arial, Helvetica, sans-serif; }
  
  p, h1, h2, h3, h4, h5, h6, ul {
    margin: 0; }
  
  img {
    max-width: 100%; }
  
  ul {
    padding-left: 0;
    margin-bottom: 0; }
  
  a {
    text-decoration: none; }
  
  :focus {
    outline: none; }
  
  .wrapper {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #accffe; }
  
  .inner {
    position: relative;
    width: 435px; }
  
  .image-1 {
    position: absolute;
    bottom: -12px;
    left: -191px;
    z-index: 99;
    }
  
  .image-2 {
    position: absolute;
    bottom: 0;
    right: -129px; }
  
  form {
    width: 100%;
    position: relative;
    z-index: 9;
    padding: 77px 61px 66px;
    background: #fff;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    -ms-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    -o-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2); }
  
  h3 {
    text-transform: uppercase;
    font-size: 25px;
    font-family: "Muli-SemiBold";
    color: #333;
    letter-spacing: 3px;
    text-align: center;
    margin-bottom: 33px; }
  
  .form-holder {
    position: relative;
    margin-bottom: 21px; }
  .form-holder span {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    font-size: 15px;
    color: #333; }
    .form-holder span.lnr-lock {
      left: 2px; }
  
  .form-control {
    border: none;
    border-bottom: 1px solid #e6e6e6;
    display: block;
    width: 100%;
    height: 38px;
    background: none;
    padding: 3px 42px 0px;
    color: #666;
    font-family: "Muli-SemiBold";
    font-size: 16px; }
    .form-control::-webkit-input-placeholder {
      font-size: 14px;
      font-family: "Muli-Regular";
      color: #999;
      transform: translateY(1px); }
    .form-control::-moz-placeholder {
      font-size: 14px;
      font-family: "Muli-Regular";
      color: #999;
      transform: translateY(1px); }
    .form-control:-ms-input-placeholder {
      font-size: 14px;
      font-family: "Muli-Regular";
      color: #999;
      transform: translateY(1px); }
    .form-control:-moz-placeholder {
      font-size: 14px;
      font-family: "Muli-Regular";
      color: #999;
      transform: translateY(1px); }
    .form-control:focus {
      border-bottom: 1px solid #accffe; }
  
  button {
    border: none;
    width: 100%;
    height: 49px;
    margin-top: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    background: #99ccff;
    color: #fff;
    text-transform: uppercase;
    font-family: "Muli-SemiBold";
    font-size: 15px;
    letter-spacing: 2px;
    transition: all 0.5s;
    position: relative;
    overflow: hidden; }
    button span {
      position: relative;
      z-index: 2; }
    button:before, button:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      background-color: rgba(52, 152, 253, 0.25);
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s;
      -webkit-transform: translate(-100%, 0);
      transform: translate(-100%, 0);
      -webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
      transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1); }
    button:after {
      -webkit-transition-delay: 0.2s;
      transition-delay: 0.2s; }
    button:hover:before, button:hover:after {
      -webkit-transform: translate(0, 0);
      transform: translate(0, 0); }
  
  @media (max-width: 991px) {
    .inner {
      width: 400px;
      left: 4%; } }
  @media (max-width: 767px) {
    .inner {
      width: 100%;
      left: 0; }
  
    .image-1, .image-2 {
      display: none; }

    form {
      padding: 35px;
      box-shadow: none;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      -ms-box-shadow: none;
      -o-box-shadow: none; }
  
    .wrapper {
      background: none; } }


    /* Dashboard */ 

    
    /* ------------------------------ admin-login.php ------------------------------ */
    
    .myadmin-parallelogram {
        position:absolute;
        left:17.5%;
        bottom: 8%;
        width: 65%;
        height: 10%;
        transform: skew(20deg);
        border: none;
        background-color: #FFF;
        box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
    }


    .adminPanel {
        margin: 0;
        padding: 0;
        font-family: 'Roboto', sans-serif;
    }
    header {
        position: fixed;
        background: #000;
        padding: 20px;
        width: 100%;
        height: 70px;
    }
    .left-area h3 {
        color: #FFF;
        margin: 0;
        text-transform: uppercase;
        font-size: 22px;
        font-weight: 900;
        padding-left: 25px;
    }
    .left-area span {
        color:	#E44D26;
    }
    .logout_btn {
        padding: 5px;
        background:	#FF7722;
        text-decoration: none;
        float: right;
        cursor: pointer;
        margin-top: -40px;
        margin-right: 40px;
        border-radius: 2px;
        font-size: 15px;
        font-weight: 600;
        color: #FFF;
        transition: 0.5s;
        transition-property: background;
    }
    .logout_btn:hover {
        background: #E44D26;
        text-decoration: none;
    }
    .sidebar {
        background: #accffe;
        margin-top: 70px;
        padding-top: 30px;
        position: fixed;
        left: 0;
        width: 250px;
        height: 100%;
        transition: 0.5s;
        transition-property: left;
    }
    .sidebar .profile_image {
        width: 100px;
        height: 100px;
        border-radius: 100px;
        margin-bottom: 10px;
    }
    .sidebar h4 {
        color: #000;
        margin-top: 0;
        text-align: center;
        margin-bottom: 20px;
    }
    .sidebar a {
        color: #000;
        display: block;
        width: 100%;
        line-height: 60px;
        text-decoration: none;
        padding-left: 35px;
        box-sizing: border-box;
        transition-property: background;
    }
    .sidebar a:hover {
        background: #E44D26;
    }
    .sidebar i {
        padding: 5px;   
    }
    label #sidebar_btn {
        z-index: 1;
        color: #FFF;
        position: fixed;
        cursor: pointer;
        left: 220px;
        font-size: 20px;
        margin: 3px 0;
        transition-property: color;
    }
    label #sidebar_btn:hover {
        color: #accffe;
    
    }
    #check:checked ~ .sidebar {
        left: -190px;
    }
    #check:checked ~ .sidebar a span {
        display: none;
    }
    #check:checked ~ .sidebar a {
        font-size: 20px;
        margin-left: 170px;
        width: 80px;
    }
    .content {
        margin-left: 250px;
        padding-top: 17%;
        background: #FFF;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        width: 100%;
        height: 100vh;
        transition: 0.5s;
        margin-top: 70px;
        padding-top: 30px;
        position: fixed;
        /* transition-property: right; */
    }
    #check:checked ~ .content {
        margin-left: 60px;
    }
    #check {
        display: none;
    }
    .content-container-1 {
      border: none;
      width: 50%;
      height: auto;
      background: none;
      position: relative;
      top: 5%;
      left: 20%;
      justify-content: center;
    }
    #check:checked ~ .content-container-1 {
        width: 80%;
    }
    .row-oneView-left {
      position: relative;
      width: 50%;
    }
    .avatar {
      width: 455px;
      height: 255px;
      object-fit: cover;
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
      opacity: 1;
      display: block;
      width: 100%;
      height: auto;
      transition: .5s ease;
      backface-visibility: hidden;
    }
    .middle {
      transition: .5s ease;
      opacity: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%)
    }
    .row-oneView-left:hover .avatar {
      opacity: 0.3;
    }
    
    .row-oneView-left:hover .middle {
      opacity: 1;
    }
    .text {
      color: #FFF;
      font-size: 16px;
      padding: 16px 32px;
    }
    .row-oneView {
      margin: 10px;
      display: flex;
      justify-content: space-between;
      color: #000;
    }
    .row-oneView-left {
      flex-basis: 51%;
    }
    .row-oneView-right {
      flex-basis: 61%;
      padding: 20px;
      background: #6b5959;
      color: #FFF;
    }

    .content-container-2 {
      padding-left: 7%;
      padding-right: 7%;
      background: none;
      position: relative;
      justify-content: center;
      border: none;
      width: 85%;
      height: auto;
      top: 5%;
      left: 0%;
    }
    .content-container-oneView {
      display: flex;
      justify-content: space-between;
    }
    .content-container-oneView-left {
      flex-basis: 100%;
    }
    .content-container-oneView-right {
      flex-basis: 1%;
      padding: 20px;
      margin: auto;
    }

    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
      color: #000;
    }
    
    td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }
    
    tr:nth-child(even) {
      background-color: #daa35b;
    }

    #pagination {
      position: relative;
      top: 50%;
      left: 90%;
      right: 30px;
      list-style: none;
    }
    #pagination li {
      position: relative;
      margin: 20px 0;
      background: #E44D26;
      border-radius: 100%;
      width: 10px;
      height: 10px;
      transition: all .2s ease;
    }
    #pagination li:hover {
      transform: scale(1.5);
    } 
